<ng-container *ngIf="(pokemonDetails$ | async) as pokemonDetails; else loader">
  <ng-container *ngIf="!loading; else loader">
    <h1>{{ pokemonDetails.name }}</h1>
    <div class="pokemon-area">
      <app-arrow class="arrow arrow__left" (click)="onPreviousClick(pokemonDetails.id)"></app-arrow>
      <img [src]="pokemonDetails.src" />
      <app-arrow class="arrow arrow__right" (click)="onNextClick(pokemonDetails.id)"></app-arrow>
    </div>
    <app-radar-chart
      [radarChartData]="chartDataSets"
      [radarChartLabels]="chartLabels"
    ></app-radar-chart>
    <ul>
      <li *ngFor="let stat of pokemonDetails.stats">
        effort: {{ stat.effort }} / baseStat: {{ stat.baseStat }} / name: {{ stat.name }}
      </li>
    </ul>
  </ng-container>
</ng-container>
<ng-template #loader>
  loading...
</ng-template>
