@import '~src/scss/base';

:host {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;

  &__element {
    position: relative;
    background: rgba(color-base('white'), 1);
    transition: background 0.5s;
    margin: 0 3px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: rgba(color-base('dark-orange'), 1);

      &:before {
        border-color: color-base('white');
      }
    }

    &:before {
      content: '';
      display: block;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      position: absolute;
      left: 3px;
      top: 3px;
      border: 2px solid color-base('dark-orange');
      pointer-events: none;
      transition: border-color 0.5s;
    }

    &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      left: 7px;
      right: 7px;
      bottom: 2px;
      background: transparent;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
      z-index: -2;
    }

    &--active {
      background: rgba(color-base('dark-orange'), 1);

      &:before {
        border-color: color-base('white');
      }
    }
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: color-base('black');
  }
}
