<form [formGroup]="form" class="form">
  <app-input class="form__input" [group]="form" [controlName]="'search'" [label]="'ID'"></app-input>
  <button
    class="form__button button"
    [disabled]="!form.valid"
    [routerLink]="['/details', form.value.search]"
  >
    <span class="button__content">Search</span>
  </button>
</form>
<ng-container *ngIf="(pokemons$ | async) as pokemons; else loader">
  <ul class="pokemons">
    <li class="pokemons__element" *ngFor="let pokemon of pokemons">
      <a class="pokemons__content" [routerLink]="['/details', pokemon.id]">{{ pokemon.name }}</a>
    </li>
  </ul>
  <app-pagination [maxPage]="10" (pageChange)="onPageChange($event)"> </app-pagination>
</ng-container>
<ng-template #loader>
  loading...
</ng-template>
