@import '~src/scss/base';

:host {
  display: block;
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;

  @include respond-above('medium') {
    padding: 0 20px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  margin: 25px 0 0 0;
  position: relative;

  &__input {
    display: inline-flex;
    flex: 1;
  }

  &__button {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    -webkit-transform-origin: right center;
    transform-origin: right center;

    transform: translateY(-50%);
    right: 15px;
    margin-top: -2px;

    opacity: 1;
    transition: opacity 0.5s;

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.button {
  border-width: 0;
  outline: none;
  width: 100%;

  position: relative;
  background: rgba(color-base('dark-orange'), 1);
  transition: background 0.5s;
  margin: 0 3px;
  font-size: 16px;
  cursor: pointer;

  &:not([disabled]):hover,
  &:not([disabled]):active,
  &:not([disabled]):focus {
    background: rgba(color-base('white'), 1);

    &:before {
      border-color: rgba(color-base('dark-orange'), 1);
    }

    .button__content {
      color: color-base('dark-orange');
    }
  }

  &:before {
    content: '';
    display: block;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    left: 3px;
    top: 3px;
    border: 2px solid color-base('white');
    pointer-events: none;
    transition: border-color 0.5s;
  }

  &:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 2px;
    background: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    z-index: -2;
  }

  &[disabled] {
    background: rgba(color-base('dark-orange'), 0.8);

    &:before {
      border-color: rgba(color-base('white'), 0.8);
    }
  }

  &__content {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 0.5s;
    color: color-base('white');
  }
}

.pokemons {
  position: relative;
  min-height: 485px;

  .spinner-backdrop {
    background-color: color-base('black');
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s linear;

    &.show {
      opacity: 0.5;
    }
  }

  app-pokeball-spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    opacity: 0;
    transition: opacity 0.15s linear;

    &.show {
      opacity: 1;
    }
  }
}

.pokemon-list {
  &__element {
    position: relative;
    background: rgba(color-base('white'), 0.3);
    transition: background 0.5s;

    &:hover {
      background: rgba(color-base('white'), 0.5);
    }

    &:before {
      content: '';
      display: block;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      position: absolute;
      left: 3px;
      top: 3px;
      border: 2px solid color-base('white');
      pointer-events: none;
    }

    &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      left: 7px;
      right: 7px;
      bottom: 2px;
      background: transparent;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
      z-index: -2;
    }
  }

  &__content {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    text-decoration: none;
    color: color-base('black');
  }
}

app-pagination {
  margin-top: 20px;
}
