<br />
<br />
<br />
<br />

<h1>Search Your Pokedex</h1>
<form [formGroup]="form" class="form">
  <app-input class="form__input" [label]="'ID'">
    <input id="search" type="number" [formControlName]="'search'" required />
  </app-input>
  <app-arrow
    class="form__button"
    [class.disabled]="!form.valid"
    [routerLink]="['/details', form.value.search]"
  ></app-arrow>
</form>

<div class="pokemons">
  <div class="spinner-backdrop" [class.show]="loading"></div>
  <app-pokeball-spinner class="spinner" [class.show]="loading"></app-pokeball-spinner>
  <ul class="pokemon-list" *ngIf="(pokemons$ | async) as pokemons">
    <li class="pokemon-list__element" *ngFor="let pokemon of pokemons">
      <a class="pokemon-list__content" [routerLink]="['/details', pokemon.id]">
        <span>{{ getPadId(pokemon.id) }}</span
        >{{ pokemon.name }}</a
      >
    </li>
  </ul>
</div>

<app-pagination
  class="pagination"
  [maxPage]="paginationMaxPage"
  [queryParams]="pokemonsQueryParams"
  (queryParamsChange)="onPageChange($event)"
>
</app-pagination>
