@import '~src/scss/base';

svg {
  width: 100%;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
  animation: smoosh 0.7s ease infinite;
  position: absolute;
  left: 0;
  top: 0;
}

svg:not(:root) {
  overflow: hidden;
}
